<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBezylg_435LmVz_uzkwBiyeLOp6_KN5y8</string>
	<key>GCM_SENDER_ID</key>
	<string>534125893092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moneytracker.MoneyTracker</string>
	<key>PROJECT_ID</key>
	<string>moneytracker-5508d</string>
	<key>STORAGE_BUCKET</key>
	<string>moneytracker-5508d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534125893092:ios:10e2e3b30276f316fa23f1</string>
</dict>
</plist>